body, h1, p, ul, li, a, img{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto;
    color:#222222;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

.menu-bg{
    background: #174E73;
}
.menu{
  max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: aliceblue;
}
.menu-logo{
    margin: 0 10px;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
}
.navbar a{
    font-size: 1.25em;
    display:block;
    padding: 10px;
}
.navbar a:hover{
    color: cornflowerblue;
}
.titulo{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}
.descricao{
    border-top: 2px solid #174E73;
    border-bottom: 2px solid #174E73;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
}
.descricao-info{
    flex: 2;
    margin: 10px 0;
}
.descricao-info p{
    color: #2F4F4F;
}
.login{
    border-top: 2px solid #174E73;
    border-bottom: 2px solid #174E73;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 60px;
    display: flex;
    flex-wrap: wrap;
}
.login-form{
    margin: 0 auto;
    flex-wrap: wrap;
}
.login-form input{
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-family: Roboto;
    border: 3px solid #4682B4;
}
.login-form button{
    margin: 0 auto;
    flex: 1 1 100px;
    font-family: Roboto;
    font-size: 1em;
    font-weight: bold;
    background: #4682B4;
    color:aliceblue;
    cursor: pointer;
    border-color: transparent;
    border-radius: 0px;
}

